<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Nancy" version="1.2.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="1.2.0" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="1.2.0" targetFramework="net40" />
  <package id="NAudio" version="1.6" targetFramework="net40" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net40" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-Main" version="2.0.21114" targetFramework="net40" />
  <package id="Rx-PlatformServices" version="2.0.21114" targetFramework="net40" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net40" />
  <package id="Simple.Data.Sqlite" version="0.18.3.2" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net40" />
</packages>