@{
    Layout = "Views/Shared/_Layout.cshtml";
}
@section js{

}
<div class="row">
    <div class="btn-toolbar">
        <div class="btn-group">
            <form action="/Control" method="post">
                <button class="btn" type="submit" name="command" value="Back"><i class="icon-step-backward"></i></button>
                <button class="btn" type="submit" name="command" value="Stop"><i class="icon-stop"></i></button>
                <button class="btn" type="submit" name="command" value="Play"><i class="icon-play"></i></button>
                <button class="btn" type="submit" name="command" value="Next"><i class="icon-step-forward"></i></button>
            </form>
            @*<a class="btn" href="#"><i class="icon-step-backward"></i></a>
                <a class="btn" href="#"><i class="icon-stop"></i></a>
                <a class="btn" href="#"><i class="icon-play"></i></a>
                <a class="btn" href="#"><i class="icon-step-forward"></i></a>*@
        </div>
    </div>
    @*<div class="span6">
            <form id="formSearch" class="form-search" action="/Search" method="post">
                <input type="text" value="@Model.username" class="input-large" placeholder="Your name" name="username" id="username"/>
                <input name="searchText" id="searchText" type="text" value="" class="input-large search-query" placeholder="Type songname or artist" />
                <button class="btn" type="submit">Search</button>
            </form>
        </div>*@
</div>
<div class="row">
    <div class="span8">
        <ul class="searchResults">
            @foreach (var slot in Model.queue)
            {
                <li class="result" id="@slot.Id">
                    <h4>@slot.FileName</h4>
                    <span>Requested by:@slot.UserName</span>
                    <form action="/Control" method="post">
                        <button class="btn" type="submit" name="command" value="Remove|@slot.Id"><i class="icon-remove"></i></button>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>





